doctype html
html(lang='fr')
  head
    meta(charset='UTF-8')
    title Jeux-Reseaux/Nicolas-BABACI
    link(rel='icon', href='/jeux/images/deco/favicon.ico')
    link(rel='stylesheet' href='/jeux/css/style-formulaire.css' type='text/css' media='screen')
    link(rel='stylesheet' href='/jeux_cv/css/style-nav.css' type='text/css' media='screen')
  body#body  
    canvas#brume(height='670' width='1920')
    nav#menu
      ul#nav
        li
          a(href='/' title='Accueil') Accueil
        li#selected
          a(href='/jeux' title='retour_au_jeux') Jeux
        li
          a(href='/jeux-cv' title='jeux_cv') Jeux CV
        li
          a(href='/cv' title='cv' target='_blank') CV
        li
          a(href='/jeux/cv/CV_BABACI_Nicolas.pdf' download='CV_Nicolas_BABACI.pdf' title='download_cv_en_PDF')
            | T&eacute;l&eacute;charger
            | le CV
        li
          a(href='#' onclick="parent.location='mailto:nicolas.babaci@gmail.com?'" title='envoyez_moi_un_mail')
            | Envoyez-moi
            | un Mail
    br
    br
    br
    h1#monTitre Formulaire d'inscription
    #mission
    p#p3
        | * Si vous rencontrez des probl&egrave;mes d&apos;affichage, pensez &agrave; vider le &quot;cache&quot; de votre navigateur Web.
        section
        - let actionForm="/liste-users"
        if data
            - actionForm="/inscription"    
        form#formulaire(action=actionForm method='post' name='formu')
          p
            label Identifiant
            - let id = '';
            if data
              - id = data[0].identifiant
            input(type="text" name="id" value=id required='' autocomplete='off' placeholder='en minuscules svp' pattern='[a-z]{1,10}' style='text-align:center')
          p
            label Prénom
            - let prenom = '';
            if data
              - prenom = data[0].prenom
            input(type="text" name="prenom" value=prenom required='' placeholder='' pattern='[a-z]{1,10}')
          p
            label Nom
            - let nom = '';
            if data
              - nom = data[0].nom
            input(type="text" name="nom" value=nom required='' placeholder='' pattern='[a-z]{1,10}')
          p
            label Mot de passe
            - let mdp = '';
            if data
              - mdp = data[0].mdp
            input(type="password" name="mdp" value=mdp autocomplete='off' required='' placeholder='' pattern='[a-z]{1,10}')
          if data
            input(type='hidden' value=data[0]._id name="idmongo")
          input(type="submit" value="Enregistrer")
          if message
            p(style='color:brown; text-decoration:underline; text-transform:uppercase;')
              strong=message
    #panneauDesUsers
      img(src='/jeux/images/deco/bouton_users.png', alt='bouton_vers_liste_des_joueurs')
      #listeUsers
        p#topUser
          a#liens(href='/jeux' title='Retour au jeux')
            strong retour au jeux
            
    // Script + jQuery
    script(src='/jeux/src/jquery-3.3.1.min.js')
    script(src='/jeux/src/jquery-ui.js')
    script(src='/jeux/src/jquery.spasticNav.js')

    // Script barre de navigation
    script.
      $("#nav").spasticNav();